@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Space+Grotesk:regular,500&display=swap");

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*="__container"] {
  max-width: 77.5rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.header {
  padding-top: 3.75rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@supports (
  (-moz-column-gap: clamp(1.25rem, 0.6176470588rem + 2.3529411765vw, 2.5rem)) or
    (column-gap: clamp(1.25rem, 0.6176470588rem + 2.3529411765vw, 2.5rem))
) {
  .header__container {
    -webkit-column-gap: clamp(
      1.25rem,
      0.6176470588rem + 2.3529411765vw,
      2.5rem
    );
    -moz-column-gap: clamp(1.25rem, 0.6176470588rem + 2.3529411765vw, 2.5rem);
    column-gap: clamp(1.25rem, 0.6176470588rem + 2.3529411765vw, 2.5rem);
  }
}

@supports not (
  (-moz-column-gap: clamp(1.25rem, 0.6176470588rem + 2.3529411765vw, 2.5rem)) or
    (column-gap: clamp(1.25rem, 0.6176470588rem + 2.3529411765vw, 2.5rem))
) {
  .header__container {
    -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 26.875rem) / 53.125);
    -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 26.875rem) / 53.125);
    column-gap: calc(1.25rem + 1.25 * (100vw - 26.875rem) / 53.125);
  }
}

.header__menu {
  margin-left: auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@supports (
  (-moz-column-gap: clamp(1.25rem, 0.6176470588rem + 2.3529411765vw, 2.5rem)) or
    (column-gap: clamp(1.25rem, 0.6176470588rem + 2.3529411765vw, 2.5rem))
) {
  .menu__list {
    -webkit-column-gap: clamp(
      1.25rem,
      0.6176470588rem + 2.3529411765vw,
      2.5rem
    );
    -moz-column-gap: clamp(1.25rem, 0.6176470588rem + 2.3529411765vw, 2.5rem);
    column-gap: clamp(1.25rem, 0.6176470588rem + 2.3529411765vw, 2.5rem);
  }
}

@supports not (
  (-moz-column-gap: clamp(1.25rem, 0.6176470588rem + 2.3529411765vw, 2.5rem)) or
    (column-gap: clamp(1.25rem, 0.6176470588rem + 2.3529411765vw, 2.5rem))
) {
  .menu__list {
    -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 26.875rem) / 53.125);
    -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 26.875rem) / 53.125);
    column-gap: calc(1.25rem + 1.25 * (100vw - 26.875rem) / 53.125);
  }
}

.menu__link {
  line-height: 1.4;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3rem;
}

@supports (
  font-size: clamp(1.125rem, 1.0617647059rem + 0.2352941176vw, 1.25rem)
) {
  .menu__link {
    font-size: clamp(1.125rem, 1.0617647059rem + 0.2352941176vw, 1.25rem);
  }
}

@supports not (
  font-size: clamp(1.125rem, 1.0617647059rem + 0.2352941176vw, 1.25rem)
) {
  .menu__link {
    font-size: calc(1.125rem + 0.125 * (100vw - 26.875rem) / 53.125);
  }
}

.menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3125rem;
  width: 100%;
  height: 0.125rem;
  border-radius: 1.25rem;
  background-color: #000000;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.footer__inner {
  padding: 3.4375rem 3.75rem 3.125rem;
  background-color: #191a23;
  color: #ffffff;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 0.9375rem;
  -moz-column-gap: 0.9375rem;
  column-gap: 0.9375rem;
}

.footer__navigation:not(:last-child) {
  margin-bottom: 4.125rem;
}

.footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__menu-item {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.footer__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1.875rem;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

.footer__contacts-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #000000;
}

.footer__contacts-title:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.footer__contacs-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.25rem;
  font-style: normal;
}

.footer__extra {
  margin-top: 0;
  padding-top: 2.3125rem;
  border-top: 0.0625rem solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 0.9375rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.footer__privacy-policy-link {
  line-height: 1.56;
  text-decoration: underline !important;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

.socials__link {
  background-color: #ffffff;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.socials__link img {
  width: 50%;
  height: 50%;
}

.socials__link svg {
  fill: #191a23;
  width: 50%;
  height: 50%;
}

.subscribe-form {
  padding: 3.625rem 2.5rem;
  background-color: #292a32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  border-radius: 0.875rem;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 4.375rem;
}

.hero__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
}

.hero__body {
  max-width: 33.1875rem;
  display: -ms-grid;
  display: grid;
  justify-items: start;
  row-gap: 2.1875rem;
}

.hero__description {
  font-size: 1.25rem;
  line-height: 1.4;
}

@supports (font-size: clamp(1rem, 0.8735294118rem + 0.4705882353vw, 1.25rem)) {
  .hero__description {
    font-size: clamp(1rem, 0.8735294118rem + 0.4705882353vw, 1.25rem);
  }
}

@supports not (
  font-size: clamp(1rem, 0.8735294118rem + 0.4705882353vw, 1.25rem)
) {
  .hero__description {
    font-size: calc(1rem + 0.25 * (100vw - 26.875rem) / 53.125);
  }
}

.hero__partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@supports (
  (
      -moz-column-gap: clamp(0.625rem, -0.2602941176rem + 3.2941176471vw, 2.375rem)
    )
    or
    (column-gap: clamp(0.625rem, -0.2602941176rem + 3.2941176471vw, 2.375rem))
) {
  .hero__partners-list {
    -webkit-column-gap: clamp(
      0.625rem,
      -0.2602941176rem + 3.2941176471vw,
      2.375rem
    );
    -moz-column-gap: clamp(
      0.625rem,
      -0.2602941176rem + 3.2941176471vw,
      2.375rem
    );
    column-gap: clamp(0.625rem, -0.2602941176rem + 3.2941176471vw, 2.375rem);
  }
}

@supports not (
  (
      -moz-column-gap: clamp(0.625rem, -0.2602941176rem + 3.2941176471vw, 2.375rem)
    )
    or
    (column-gap: clamp(0.625rem, -0.2602941176rem + 3.2941176471vw, 2.375rem))
) {
  .hero__partners-list {
    -webkit-column-gap: calc(0.625rem + 1.75 * (100vw - 26.875rem) / 53.125);
    -moz-column-gap: calc(0.625rem + 1.75 * (100vw - 26.875rem) / 53.125);
    column-gap: calc(0.625rem + 1.75 * (100vw - 26.875rem) / 53.125);
  }
}

.hero__partners-image {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

@supports (
  margin-bottom: clamp(4.375rem, 1.5626830983rem + 5.8591461271vw, 6.25rem)
) {
  .services__list:not(:last-child) {
    margin-bottom: clamp(4.375rem, 1.5626830983rem + 5.8591461271vw, 6.25rem);
  }
}

@supports not (
  margin-bottom: clamp(4.375rem, 1.5626830983rem + 5.8591461271vw, 6.25rem)
) {
  .services__list:not(:last-child) {
    margin-bottom: calc(4.375rem + 1.875 * (100vw - 47.99875rem) / 32.00125);
  }
}

.banner {
  --bannerImageOffsetY: 24px;
  padding-block: var(--bannerImageOffsetY);
}

.banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 2.9375rem;
}

.banner__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

@supports (
  padding-block: clamp(3.125rem, 2.1875610328rem + 1.953048709vw, 3.75rem)
) {
  .banner__body {
    padding-block: clamp(3.125rem, 2.1875610328rem + 1.953048709vw, 3.75rem);
  }
}

@supports not (
  padding-block: clamp(3.125rem, 2.1875610328rem + 1.953048709vw, 3.75rem)
) {
  .banner__body {
    padding-block: calc(3.125rem + 0.625 * (100vw - 47.99875rem) / 32.00125);
  }
}

@supports (
  padding-inline: clamp(3.125rem, 2.1875610328rem + 1.953048709vw, 3.75rem)
) {
  .banner__body {
    padding-inline: clamp(3.125rem, 2.1875610328rem + 1.953048709vw, 3.75rem);
  }
}

@supports not (
  padding-inline: clamp(3.125rem, 2.1875610328rem + 1.953048709vw, 3.75rem)
) {
  .banner__body {
    padding-inline: calc(3.125rem + 0.625 * (100vw - 47.99875rem) / 32.00125);
  }
}

@supports (
  row-gap: clamp(1.25rem, 1.0602941176rem + 0.7058823529vw, 1.625rem)
) {
  .banner__body {
    row-gap: clamp(1.25rem, 1.0602941176rem + 0.7058823529vw, 1.625rem);
  }
}

@supports not (
  row-gap: clamp(1.25rem, 1.0602941176rem + 0.7058823529vw, 1.625rem)
) {
  .banner__body {
    row-gap: calc(1.25rem + 0.375 * (100vw - 26.875rem) / 53.125);
  }
}

.banner__description {
  max-width: 31.25rem;
}

.banner__image {
  margin-block: calc(var(--bannerImageOffsetY) * -1);
}

.studies__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
}

.studies__item {
  --stadiesItemPaddingX: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.25rem;
}

.studies__link {
  color: #b9ff66;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 0.9375rem;
  -moz-column-gap: 0.9375rem;
  column-gap: 0.9375rem;
  font-size: 1.25rem;
  line-height: 1.4;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.process__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  counter-reset: custom-counter;
  list-style: none;
}

@supports (row-gap: clamp(1.25rem, 0.3125610328rem + 1.953048709vw, 1.875rem)) {
  .process__list {
    row-gap: clamp(1.25rem, 0.3125610328rem + 1.953048709vw, 1.875rem);
  }
}

@supports not (
  row-gap: clamp(1.25rem, 0.3125610328rem + 1.953048709vw, 1.875rem)
) {
  .process__list {
    row-gap: calc(1.25rem + 0.625 * (100vw - 47.99875rem) / 32.00125);
  }
}

.process__item {
  --counterContent: counter(custom-counter);
  counter-increment: custom-counter;
}

.process__item::nth-child(-n + 9) {
  --counterContent: "0" counter(custom-counter);
}

.process__accardion {
  --indicatorVerticalRotate: 90deg;
  padding: 2.5625rem 3.75rem;
  border-radius: 2.9375rem;
  border: 0.0625rem solid #191a23;
  -webkit-box-shadow: 0 0.3125rem 0 0 #191a23;
  box-shadow: 0 0.3125rem 0 0 #191a23;
  background-color: #f3f3f3;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.process__accardion[open] {
  background-color: #b9ff66;
  --indicatorVerticalRotate: 0deg;
}

.process__accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 3.125rem;
  -moz-column-gap: 3.125rem;
  column-gap: 3.125rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.process__accordion-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@supports (
  font-size: clamp(1.125rem, 0.0000732393rem + 2.3436584508vw, 1.875rem)
) {
  .process__accordion-title {
    font-size: clamp(1.125rem, 0.0000732393rem + 2.3436584508vw, 1.875rem);
  }
}

@supports not (
  font-size: clamp(1.125rem, 0.0000732393rem + 2.3436584508vw, 1.875rem)
) {
  .process__accordion-title {
    font-size: calc(1.125rem + 0.75 * (100vw - 47.99875rem) / 32.00125);
  }
}

@supports (
  (
      -moz-column-gap: clamp(1.5625rem, 2.8124511738rem + -1.5624389672vw, 2.0625rem)
    )
    or
    (column-gap: clamp(1.5625rem, 2.8124511738rem + -1.5624389672vw, 2.0625rem))
) {
  .process__accordion-title {
    -webkit-column-gap: clamp(
      1.5625rem,
      2.8124511738rem + -1.5624389672vw,
      2.0625rem
    );
    -moz-column-gap: clamp(
      1.5625rem,
      2.8124511738rem + -1.5624389672vw,
      2.0625rem
    );
    column-gap: clamp(1.5625rem, 2.8124511738rem + -1.5624389672vw, 2.0625rem);
  }
}

@supports not (
  (
      -moz-column-gap: clamp(1.5625rem, 2.8124511738rem + -1.5624389672vw, 2.0625rem)
    )
    or
    (column-gap: clamp(1.5625rem, 2.8124511738rem + -1.5624389672vw, 2.0625rem))
) {
  .process__accordion-title {
    -webkit-column-gap: calc(
      2.0625rem + -0.5 * (100vw - 47.99875rem) / 32.00125
    );
    -moz-column-gap: calc(2.0625rem + -0.5 * (100vw - 47.99875rem) / 32.00125);
    column-gap: calc(2.0625rem + -0.5 * (100vw - 47.99875rem) / 32.00125);
  }
}

.process__accordion-title::before {
  content: var(--counterContent);
  font-weight: 500;
}

@supports (
  font-size: clamp(1.875rem, -0.9373169017rem + 5.8591461271vw, 3.75rem)
) {
  .process__accordion-title::before {
    font-size: clamp(1.875rem, -0.9373169017rem + 5.8591461271vw, 3.75rem);
  }
}

@supports not (
  font-size: clamp(1.875rem, -0.9373169017rem + 5.8591461271vw, 3.75rem)
) {
  .process__accordion-title::before {
    font-size: calc(1.875rem + 1.875 * (100vw - 47.99875rem) / 32.00125);
  }
}

.process__accordion-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f3f3f3;
  width: 3.625rem;
  height: 3.625rem;
  border-radius: 50%;
  border: 0.0625rem solid #191a23;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.process__accordion-indicator::before,
.process__accordion-indicator::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background-color: #000000;
  width: 45%;
  height: 10%;
}

.process__accordion-indicator::after {
  rotate: var(--indicatorVerticalRotate);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.process__accordion-body {
  border-top: 0.0625rem solid #191a23;
}

@supports (
  margin-top: clamp(1.25rem, 0.3125610328rem + 1.953048709vw, 1.875rem)
) {
  .process__accordion-body {
    margin-top: clamp(1.25rem, 0.3125610328rem + 1.953048709vw, 1.875rem);
  }
}

@supports not (
  margin-top: clamp(1.25rem, 0.3125610328rem + 1.953048709vw, 1.875rem)
) {
  .process__accordion-body {
    margin-top: calc(1.25rem + 0.625 * (100vw - 47.99875rem) / 32.00125);
  }
}

@supports (
  padding-top: clamp(1.25rem, 0.3125610328rem + 1.953048709vw, 1.875rem)
) {
  .process__accordion-body {
    padding-top: clamp(1.25rem, 0.3125610328rem + 1.953048709vw, 1.875rem);
  }
}

@supports not (
  padding-top: clamp(1.25rem, 0.3125610328rem + 1.953048709vw, 1.875rem)
) {
  .process__accordion-body {
    padding-top: calc(1.25rem + 0.625 * (100vw - 47.99875rem) / 32.00125);
  }
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 2.5rem;
}

.team__button {
  min-width: 16.8125rem;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

.team-card {
  padding-block: 2.5rem;
  border: 0.0625rem solid #191a23;
  -webkit-box-shadow: 0 0.3125rem 0 0 #191a23;
  box-shadow: 0 0.3125rem 0 0 #191a23;
  border-radius: 2.9375rem;
  min-height: 100%;
}

@supports (
  padding-inline: clamp(2.1875rem, 4.5311584508rem + -2.9295730636vw, 3.125rem)
) {
  .team-card {
    padding-inline: clamp(
      2.1875rem,
      4.5311584508rem + -2.9295730636vw,
      3.125rem
    );
  }
}

@supports not (
  padding-inline: clamp(2.1875rem, 4.5311584508rem + -2.9295730636vw, 3.125rem)
) {
  .team-card {
    padding-inline: calc(3.125rem + -0.9375 * (100vw - 47.99875rem) / 32.00125);
  }
}

.team-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-card__img:not(:last-child) {
  margin-right: 1.25rem;
}

.team-card__info {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

.team-card__info:not(:last-child) {
  margin-right: 0.3125rem;
}

.team-card__name:not(:last-child) {
  margin-bottom: 0.1875rem;
}

.team-card__link {
  margin-left: auto;
  background-color: #000000;
  border-radius: 50%;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  width: 2.125rem;
  height: 2.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.team-card__link svg {
  fill: #b9ff66;
}

.team-card__body {
  border-top: 0.0625rem solid #191a23;
}

@supports (
  margin-top: clamp(1.25rem, 0.5000488262rem + 1.5624389672vw, 1.75rem)
) {
  .team-card__body {
    margin-top: clamp(1.25rem, 0.5000488262rem + 1.5624389672vw, 1.75rem);
  }
}

@supports not (
  margin-top: clamp(1.25rem, 0.5000488262rem + 1.5624389672vw, 1.75rem)
) {
  .team-card__body {
    margin-top: calc(1.25rem + 0.5 * (100vw - 47.99875rem) / 32.00125);
  }
}

@supports (
  padding-top: clamp(1.25rem, 0.5000488262rem + 1.5624389672vw, 1.75rem)
) {
  .team-card__body {
    padding-top: clamp(1.25rem, 0.5000488262rem + 1.5624389672vw, 1.75rem);
  }
}

@supports not (
  padding-top: clamp(1.25rem, 0.5000488262rem + 1.5624389672vw, 1.75rem)
) {
  .team-card__body {
    padding-top: calc(1.25rem + 0.5 * (100vw - 47.99875rem) / 32.00125);
  }
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #ffffff;
  background-color: #191a23;
  border-radius: 2.9375rem;
}

@supports (
  row-gap: clamp(3.75rem, -0.9371948361rem + 9.7652435452vw, 6.875rem)
) {
  .reviews {
    row-gap: clamp(3.75rem, -0.9371948361rem + 9.7652435452vw, 6.875rem);
  }
}

@supports not (
  row-gap: clamp(3.75rem, -0.9371948361rem + 9.7652435452vw, 6.875rem)
) {
  .reviews {
    row-gap: calc(3.75rem + 3.125 * (100vw - 47.99875rem) / 32.00125);
  }
}

@supports (
  padding-top: clamp(1.875rem, 0.1676470588rem + 6.3529411765vw, 5.25rem)
) {
  .reviews {
    padding-top: clamp(1.875rem, 0.1676470588rem + 6.3529411765vw, 5.25rem);
  }
}

@supports not (
  padding-top: clamp(1.875rem, 0.1676470588rem + 6.3529411765vw, 5.25rem)
) {
  .reviews {
    padding-top: calc(1.875rem + 3.375 * (100vw - 26.875rem) / 53.125);
  }
}

@supports (
  padding-bottom: clamp(3.375rem, 3.9397058824rem + -0.7058823529vw, 3.75rem)
) {
  .reviews {
    padding-bottom: clamp(3.375rem, 3.9397058824rem + -0.7058823529vw, 3.75rem);
  }
}

@supports not (
  padding-bottom: clamp(3.375rem, 3.9397058824rem + -0.7058823529vw, 3.75rem)
) {
  .reviews {
    padding-bottom: calc(3.75rem + -0.375 * (100vw - 26.875rem) / 53.125);
  }
}

.reviews__slider {
  --reviewsSliderSlideWidth: 606px;
}

.reviews__slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.125rem;
  -moz-column-gap: 3.125rem;
  column-gap: 3.125rem;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  margin-left: calc(var(--reviewsSliderSlideWidth) / 2 * -1);
}

.reviews__slider-list::-webkit-scrollbar {
  width: 0 !important;
}

.reviews__slider-item {
  min-width: var(--reviewsSliderSlideWidth);
  scroll-snap-align: start;
}

.reviews__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 35.25rem;
  margin-inline: auto;
}

.reviews__arrow-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.reviews__arrow-button[disabled] {
  fill-opacity: 0.3;
  cursor: not-allowed;
}

.reviews__arrow-button svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #ffffff;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.reviews-card {
  --reviewCardCornerWidth: 40px;
  --reviewCardCornerOffsetLeft: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@supports (row-gap: clamp(2.75rem, 2.6235294118rem + 0.4705882353vw, 3rem)) {
  .reviews-card {
    row-gap: clamp(2.75rem, 2.6235294118rem + 0.4705882353vw, 3rem);
  }
}

@supports not (
  row-gap: clamp(2.75rem, 2.6235294118rem + 0.4705882353vw, 3rem)
) {
  .reviews-card {
    row-gap: calc(2.75rem + 0.25 * (100vw - 26.875rem) / 53.125);
  }
}

.reviews-card__body {
  position: relative;
  padding: 3rem var(--reviewCardCornerOffsetLeft) 52px;
  border: 0.0625rem solid #b9ff66;
  border-radius: 2.9375rem;
}

.reviews-card__body::after {
  content: "";
  position: absolute;
  width: var(--reviewCardCornerWidth);
  height: var(--reviewCardCornerWidth);
  border: inherit;
  background-color: #191a23;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 100%;
  left: var(--reviewCardCornerOffsetLeft);
  translate: 0 -50%;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.reviews-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: calc(
    var(--reviewCardCornerOffsetLeft) + var(--reviewCardCornerWidth) / 2
  );
}

.reviews-card__name {
  color: #b9ff66;
  font-weight: 500;
  font-style: normal;
}

@supports (
  font-size: clamp(1.125rem, 1.0617647059rem + 0.2352941176vw, 1.25rem)
) {
  .reviews-card__name {
    font-size: clamp(1.125rem, 1.0617647059rem + 0.2352941176vw, 1.25rem);
  }
}

@supports not (
  font-size: clamp(1.125rem, 1.0617647059rem + 0.2352941176vw, 1.25rem)
) {
  .reviews-card__name {
    font-size: calc(1.125rem + 0.125 * (100vw - 26.875rem) / 53.125);
  }
}

.reviews-card__company {
  font-style: normal;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 1.1875rem;
  -moz-column-gap: 1.1875rem;
  column-gap: 1.1875rem;
}

.pagination__button {
  width: 1.5rem;
  height: 1.5rem;
}

.pagination__button svg {
  fill: #ffffff;
}

.is-current svg {
  fill: #b9ff66;
}

.contacts {
  position: relative;
  overflow: hidden;
}

.contacts::after {
  --contactImageOffsetY: 62px;
  content: "";
  position: absolute;
  background: url("../img/contact-us/image.svg") center/contain no-repeat;
  left: 100%;
  top: 50%;
  translate: -50% -50%;
  height: calc(100% - var(--contactImageOffsetY) * 2);
  aspect-ratio: 1;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@supports (
  row-gap: clamp(1.25rem, 1.0919117647rem + 0.5882352941vw, 1.5625rem)
) {
  .contacts__body {
    row-gap: clamp(1.25rem, 1.0919117647rem + 0.5882352941vw, 1.5625rem);
  }
}

@supports not (
  row-gap: clamp(1.25rem, 1.0919117647rem + 0.5882352941vw, 1.5625rem)
) {
  .contacts__body {
    row-gap: calc(1.25rem + 0.3125 * (100vw - 26.875rem) / 53.125);
  }
}

.radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.1875rem;
  -moz-column-gap: 2.1875rem;
  column-gap: 2.1875rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 0.875rem;
  -moz-column-gap: 0.875rem;
  column-gap: 0.875rem;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}

.radio__input:not(:checked) + .radio__emulator::after {
  opacity: 0;
}

.radio__emulator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  background-color: #ffffff;
  border-radius: 50%;
  border: 0.0625rem solid #191a23;
  position: relative;
}

.radio__emulator::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background-color: #b9ff66;
  width: 57%;
  height: 57%;
  border-radius: 50%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.field {
  --fieldInputHeight: 59px;
  --fieldInputTextColor: #191a23;
  --fieldInputBgColor: #ffffff;
  --fieldInputBorderColor: #191a23;
  --fieldInputPlaceholderColor: #898989;
  --fieldInputHoverBgColor: #b9ff66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  row-gap: 0.3125rem;
}

.field--big-height {
  --fieldInputHeight: 68px;
}

.field--dark-bg {
  --fieldInputTextColor: #b9ff66;
  --fieldInputBgColor: #292a32;
  --fieldInputBorderColor: #ffffff;
  --fieldInputPlaceholderColor: #ffffff;
  --fieldInputHoverBgColor: #191a23;
}

.field__label {
  line-height: 1.75;
}

@supports (font-size: clamp(0.875rem, 0.8117647059rem + 0.2352941176vw, 1rem)) {
  .field__label {
    font-size: clamp(0.875rem, 0.8117647059rem + 0.2352941176vw, 1rem);
  }
}

@supports not (
  font-size: clamp(0.875rem, 0.8117647059rem + 0.2352941176vw, 1rem)
) {
  .field__label {
    font-size: calc(0.875rem + 0.125 * (100vw - 26.875rem) / 53.125);
  }
}

.field__input {
  width: 100% !important;
  height: var(--fieldInputHeight);
  color: var(--fieldInputTextColor);
  background-color: var(--fieldInputBgColor);
  padding-inline: 1.875rem;
  border: 0.0625rem solid var(--fieldInputBorderColor);
  border-radius: 0.875rem;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.field__input:focus {
  border-color: #b9ff66;
  outline: none;
}

.field__input::-webkit-input-placeholder {
  color: var(--fieldInputPlaceholderColor);
}

.field__input::-moz-placeholder {
  color: var(--fieldInputPlaceholderColor);
}

.field__input:-ms-input-placeholder {
  color: var(--fieldInputPlaceholderColor);
}

.field__input::-ms-input-placeholder {
  color: var(--fieldInputPlaceholderColor);
}

.field__input::placeholder {
  color: var(--fieldInputPlaceholderColor);
}

.field__input--textarea {
  padding-block: 1.125rem;
  height: 11.875rem !important;
  resize: none;
}

.button {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #ffffff;
  background-color: #191a23;
  height: 4.25rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-inline: 2.1875rem;
  border-radius: 0.875rem;
  border: 0.0625rem solid #191a23;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button--transparent {
  background: transparent;
  color: #000000;
}

.button--accent {
  background-color: #b9ff66;
  color: #000000;
}

.section {
  padding-block: 4.375rem;
}

.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  row-gap: 1.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

@supports (
  margin-bottom: clamp(2.5rem, 1.0772058824rem + 5.2941176471vw, 5.3125rem)
) {
  .section__header:not(:last-child) {
    margin-bottom: clamp(2.5rem, 1.0772058824rem + 5.2941176471vw, 5.3125rem);
  }
}

@supports not (
  margin-bottom: clamp(2.5rem, 1.0772058824rem + 5.2941176471vw, 5.3125rem)
) {
  .section__header:not(:last-child) {
    margin-bottom: calc(2.5rem + 2.8125 * (100vw - 26.875rem) / 53.125);
  }
}

.section__description {
  max-width: 36.25rem;
}

.puddle-bg {
  background-color: #b9ff66;
  padding-inline: 0.4375rem;
  border-radius: 0.4375rem;
}

.puddle-bg--light {
  background-color: #ffffff;
}

.grid {
  --gridColumns: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [var(--gridColumns)];
  grid-template-columns: repeat(var(--gridColumns), 1fr);
}

@supports (gap: clamp(1.875rem, 0.9375610328rem + 1.953048709vw, 2.5rem)) {
  .grid {
    gap: clamp(1.875rem, 0.9375610328rem + 1.953048709vw, 2.5rem);
  }
}

@supports not (gap: clamp(1.875rem, 0.9375610328rem + 1.953048709vw, 2.5rem)) {
  .grid {
    gap: calc(1.875rem + 0.625 * (100vw - 47.99875rem) / 32.00125);
  }
}

.grid--2 {
  --gridColumns: 2;
}

.grid--3 {
  --gridColumns: 3;
}

.grid--4 {
  --gridColumns: 4;
}

.grid--5 {
  --gridColumns: 5;
}

.grid--6 {
  --gridColumns: 6;
}

.grid--7 {
  --gridColumns: 7;
}

.grid--8 {
  --gridColumns: 8;
}

.grid--9 {
  --gridColumns: 9;
}

.grid--10 {
  --gridColumns: 10;
}

.grid--11 {
  --gridColumns: 11;
}

.grid--12 {
  --gridColumns: 12;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  min-height: 19.375rem;
  border-radius: 2.9375rem;
  border: 0.0625rem solid #191a23;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 0.3125rem 0 0 #191a23;
  box-shadow: 0 0.3125rem 0 0 #191a23;
  padding: 3.125rem;
}

.services__card--accent-bg {
  background-color: #b9ff66;
}

.services__card--dark-bg {
  background-color: #191a23;
}

.services__card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 1.875rem;
}

.services__card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.services__card-link {
  --serviceCardLinkIconColor: $colorAccent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.9375rem;
  font-size: 1.25rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.services__card-link--light {
  color: #ffffff;
  --serviceCardLinkIconColor: $colorDark;
}

.services__card-image {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.services-card__link-icon-wrapper {
  background-color: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  height: 2.5625rem;
  width: 2.5625rem;
}

.services-card__link-icon-wrapper svg {
  fill: var(--serviceCardLinkIconColor);
}

html,
body {
  height: 100%;
  min-width: 430px;
}

body {
  color: #191a23;
  line-height: 1.28;
  font-weight: 400;
  font-family: "Space Grotesk", sans-serif;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-size: clamp(1rem, 0.9367647059rem + 0.2352941176vw, 1.125rem)) {
  body {
    font-size: clamp(1rem, 0.9367647059rem + 0.2352941176vw, 1.125rem);
  }
}

@supports not (
  font-size: clamp(1rem, 0.9367647059rem + 0.2352941176vw, 1.125rem)
) {
  body {
    font-size: calc(1rem + 0.125 * (100vw - 26.875rem) / 53.125);
  }
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.wrapper main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

@supports (font-size: clamp(2.6875rem, 2.15rem + 2vw, 3.75rem)) {
  h1 {
    font-size: clamp(2.6875rem, 2.15rem + 2vw, 3.75rem);
  }
}

@supports not (font-size: clamp(2.6875rem, 2.15rem + 2vw, 3.75rem)) {
  h1 {
    font-size: calc(2.6875rem + 1.0625 * (100vw - 26.875rem) / 53.125);
  }
}

@supports (
  font-size: clamp(2.25rem, 2.1235294118rem + 0.4705882353vw, 2.5rem)
) {
  h2 {
    font-size: clamp(2.25rem, 2.1235294118rem + 0.4705882353vw, 2.5rem);
  }
}

@supports not (
  font-size: clamp(2.25rem, 2.1235294118rem + 0.4705882353vw, 2.5rem)
) {
  h2 {
    font-size: calc(2.25rem + 0.25 * (100vw - 26.875rem) / 53.125);
  }
}

@supports (
  font-size: clamp(1.625rem, 1.4985294118rem + 0.4705882353vw, 1.875rem)
) {
  h3 {
    font-size: clamp(1.625rem, 1.4985294118rem + 0.4705882353vw, 1.875rem);
  }
}

@supports not (
  font-size: clamp(1.625rem, 1.4985294118rem + 0.4705882353vw, 1.875rem)
) {
  h3 {
    font-size: calc(1.625rem + 0.25 * (100vw - 26.875rem) / 53.125);
  }
}

@supports (
  font-size: clamp(1.125rem, 1.0617647059rem + 0.2352941176vw, 1.25rem)
) {
  h4,
  .h4 {
    font-size: clamp(1.125rem, 1.0617647059rem + 0.2352941176vw, 1.25rem);
  }
}

@supports not (
  font-size: clamp(1.125rem, 1.0617647059rem + 0.2352941176vw, 1.25rem)
) {
  h4,
  .h4 {
    font-size: calc(1.125rem + 0.125 * (100vw - 26.875rem) / 53.125);
  }
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: var(--font-family);
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .footer__inner {
    border-radius: 2.9375rem 2.9375rem 0 0;
  }

  .footer__menu-item {
    text-decoration: underline;
  }

  .footer__extra {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
    margin-top: 3.125rem;
    padding-top: 3.125rem;
  }

  .studies {
    background-color: #191a23;
    border-radius: 2.9375rem;
    color: #ffffff;
    padding: 2.5rem;
  }

  .studies__item:not(:first-child) {
    padding-left: var(--stadiesItemPaddingX);
  }

  .studies__item:not(:last-child) {
    padding-right: var(--stadiesItemPaddingX);
    border-right: 0.0625rem solid #ffffff;
  }

  .contacts {
    padding: 3.75rem 6.25rem 5rem;
    background-color: #f3f3f3;
    border-radius: 2.9375rem;
  }

  @supports (
    padding-top: clamp(1.875rem, -0.9373169017rem + 5.8591461271vw, 3.75rem)
  ) {
    .contacts {
      padding-top: clamp(1.875rem, -0.9373169017rem + 5.8591461271vw, 3.75rem);
    }
  }

  @supports not (
    padding-top: clamp(1.875rem, -0.9373169017rem + 5.8591461271vw, 3.75rem)
  ) {
    .contacts {
      padding-top: calc(1.875rem + 1.875 * (100vw - 47.99875rem) / 32.00125);
    }
  }

  @supports (
    padding-inline: clamp(1.875rem, -4.6870727706rem + 13.6713409632vw, 6.25rem)
  ) {
    .contacts {
      padding-inline: clamp(
        1.875rem,
        -4.6870727706rem + 13.6713409632vw,
        6.25rem
      );
    }
  }

  @supports not (
    padding-inline: clamp(1.875rem, -4.6870727706rem + 13.6713409632vw, 6.25rem)
  ) {
    .contacts {
      padding-inline: calc(1.875rem + 4.375 * (100vw - 47.99875rem) / 32.00125);
    }
  }

  @supports (
    padding-bottom: clamp(1.875rem, -2.8121948361rem + 9.7652435452vw, 5rem)
  ) {
    .contacts {
      padding-bottom: clamp(1.875rem, -2.8121948361rem + 9.7652435452vw, 5rem);
    }
  }

  @supports not (
    padding-bottom: clamp(1.875rem, -2.8121948361rem + 9.7652435452vw, 5rem)
  ) {
    .contacts {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 47.99875rem) / 32.00125);
    }
  }

  .contacts__form {
    row-gap: 2.5rem;
  }

  .section__header {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: left;
  }
}

@media (min-width: 61.99875em) {
  .contacts__form {
    max-width: 34.75rem;
  }
}

@media (min-width: 80em) {
  .studies {
    padding: 4.375rem 3.75rem;
  }
}

@media (max-width: 80em) {
  .hero__image {
    max-width: 40%;
    height: auto;
  }

  .studies__item {
    --stadiesItemPaddingX: 32px;
  }

  .services__card-image {
    max-width: 50%;
    height: auto;
  }
}

@media (max-width: 1080px) {
  .grid--2 {
    --gridColumns: 1;
  }

  .grid--3 {
    --gridColumns: 2;
  }
}

@media (max-width: 67.5rem) {
  .subscribe-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.375rem;
    padding: 1.875rem;
    width: 100%;
    max-width: 28.125rem;
  }
}

@media (max-width: 61.99875em) {
  .footer__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 2.3125rem;
  }

  .hero__container {
    row-gap: 3.75rem;
  }

  .hero__partners-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.25rem;
  }

  .hero__partners-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .banner {
    --bannerImageOffsetY: 0;
  }

  .banner__image {
    max-width: 40%;
    height: auto;
  }

  .contacts::after {
    display: none;
  }

  .section {
    padding-block: 3.125rem;
  }
}

@media (max-width: 47.99875em) {
  .footer__container {
    padding-inline: 0;
  }

  .footer__inner {
    padding: 3.125rem 1.25rem 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 2.3125rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__navigation {
    display: contents;
  }

  .footer__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 0.9375rem;
  }

  .footer__socials {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 2.3125rem;
    width: 100%;
  }

  .footer__contacts {
    text-align: center;
  }

  .footer__contacts-title:not(:last-child) {
    margin-bottom: 2.3125rem;
  }

  .subscribe-form {
    max-width: 100%;
  }

  .hero__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero__body {
    display: contents;
  }

  .hero__title {
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .hero__description {
    line-height: 1.5;
  }

  .hero__description:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .hero__button {
    width: 100%;
    max-width: 24.375rem;
    margin-inline: auto;
  }

  .hero__image {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    max-width: 100%;
    width: 100%;
  }

  .hero__image:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .hero__partners-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.25rem;
  }

  .banner__image {
    display: none;
  }

  .studies__list {
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    width: 100vw;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }

  .studies__item {
    color: #ffffff;
    background-color: #191a23;
    border-radius: 2.9375rem;
    padding: 2.625rem 3.125rem;
    min-width: 21.875rem;
    scroll-snap-align: start;
  }

  .process__accardion {
    padding: 1.875rem;
  }

  .process__accordion-header {
    -webkit-column-gap: 1.75rem;
    -moz-column-gap: 1.75rem;
    column-gap: 1.75rem;
  }

  .process__accordion-indicator {
    width: 1.875rem;
    height: 1.875rem;
  }

  .team__button {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .contacts__request-types,
  .contacts__body {
    background-color: #f3f3f3;
  }

  .contacts__request-types {
    padding: 2.5rem 3.25rem 2.25rem;
    border-radius: 2.9375rem 2.9375rem 0 0;
  }

  .contacts__body {
    padding-inline: 1.875rem;
    padding-bottom: 3.125rem;
    border-radius: 0 0 2.9375rem 2.9375rem;
  }

  .contacts__body:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .field__input {
    padding-inline: 1.25rem;
  }

  .section {
    padding-block: 1.875rem;
  }

  .grid--3 {
    --gridColumns: 1;
  }

  .services__card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    row-gap: 1.6875rem;
  }

  .services__card-body {
    display: contents;
  }

  .services__card-title {
    grid-column: -1/1;
  }

  .services__card-link {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }

  .services__card-image {
    max-width: 10.3125rem;
  }

  .services-card__link-label {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}

@media (any-hover: hover) {
  .menu__link:hover::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
  }

  .footer__menu-item:hover {
    color: #b9ff66;
  }

  .footer__contacs-body a:hover {
    color: #b9ff66;
  }

  .socials__link:hover {
    background-color: #b9ff66;
  }

  .studies__link:hover {
    opacity: 0.7;
  }

  .process__accardion:hover {
    background-color: #b9ff66;
  }

  .reviews__arrow-button:hover svg {
    fill: #b9ff66;
  }

  .pagination__button:hover svg {
    fill: #b9ff66;
  }

  .radio:hover {
    opacity: 0.6;
  }

  .field__input:hover {
    background-color: var(--fieldInputHoverBgColor);
  }

  .button:hover {
    background: transparent;
    color: #000000;
  }

  .button--transparent:hover {
    background-color: #b9ff66;
    color: #000000;
  }

  .button--accent:hover {
    color: #ffffff;
    border: 0.0625rem solid #ffffff;
  }

  .services__card-link:hover {
    opacity: 0.7;
  }
}
